body {
  margin: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: Revamped;
  src: url(../font/Revamped.otf)
}

.container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.main {
  transition: 0.3s;
  background-image: linear-gradient(to bottom, black 30%, #0086bf );
}
.titulo-dashboard{
  color: white;
  font-family: Revamped;
}
.box {
  display: inline-block;
  width: 30%;
  margin: 5px;
  margin-bottom: 25px;
  border-radius: 50px;
  height: 130px;
  color: #ffffff;
  border-bottom-left-radius: 130px;
  border-top-right-radius: 200px;
}
.box img{
  width: 19%;
}
.box:hover {
  opacity: 0.5;
}

.temp {
  background-image: linear-gradient(to left, #00E1FD 50%, #FC007A);
}
.humi {
  background-image: linear-gradient(to left, #FF2CDF 50%, #0014FF);
}
.lumi {
  background-image: linear-gradient(to left, #00FF5B 50%, #0014FF);
}

.graph {
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  height: 300px;
  background-color: #0a1725;
  color: #459eff;
}
.graph img {
  height: 220px;
}

.status_estufa {
  width: 25%;
  height:500px;
}

.luminosidade {
  width: 66%;
  height: 500px;
  background-color: #0a1725;
  color: #459eff;
}

.graficos {
  display: inline-block;
  margin: 5px;
  margin-top: 25px;
  border-radius: 5px;
  width: 92%;
  background-color: #0a1725;
  color: #459eff;
  margin-bottom: 25px;
}
.temphumi{
  width:75%;
  margin-left:12%;
  margin-right: 12%;
  margin-bottom: 5%;
}
.grafico_luminosidade{
  display: inline-block;
  margin: 5px;
  margin-top: 25px;
  border-radius: 5px;
  width: 92%;
  height: 300px ;
  background-color: white;
  margin-bottom: 25px;
}






