body {
  margin: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: Revamped;
  src: url(../font/Revamped.otf)
}

.container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.main {
  transition: 0.3s;
  background-color: black;
}
.titulo-dashboard{
  color: white;
  font-family: Revamped;
}
.box {
  display: inline-block;
  width: 30%;
  margin: 5px;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 130px;
  color: #ffffff;
}
.box:hover {
  opacity: 0.5;
}

.b-green {
  background-color: #27ae60;
}
.b-yellow {
  background-color: #f1c40f;
}
.b-red {
  background-color: #3571cb;
}

.graph {
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  height: 300px;
  background-color: white;
}
.graph img {
  height: 220px;
}

.g-1 {
  width: 61%;
}

.g-2 {
  width: 30%;
}

.graficos {
  display: inline-block;
  margin: 5px;
  margin-top: 25px;
  border-radius: 5px;
  width: 92%;
  background-color: white;
  margin-bottom: 25px;
}
.grafico_luminosidade{
  display: inline-block;
  margin: 5px;
  margin-top: 25px;
  border-radius: 5px;
  width: 92%;
  height: 300px ;
  background-color: white;
  margin-bottom: 25px;
}






