body, html {
    scroll-behavior: smooth;
    height: 100%;
    width: 10
}
@keyframes anm_titulo{
    0%{
        margin-top: 0px;
        opacity: 0;
    }
    100%{
        margin-top: 5%;
        opacity: 1;
    }
}
body{
    margin: 0 auto;
    /* box-sizing: border-box; */
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    width: 100%;
}
.navbar{
    background-color: #0a1725;
    border-bottom: 7px solid #1a3c61;
    width: 100%;
    color:white;
}
.container{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.navbar-brand{
    text-decoration: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 40%;
    color: white;
}
.logo{
    width: 18%;
    float: left;
    margin-left: 5%;
}
.txt_logo{
    margin-top: 4%; 
    margin-left: 2%;
    font-size: 200%;
    font-family: arial;
    color: white;
}
.collapse{  
    width: 18%;
    padding:0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10%;
    box-sizing: border-box;
    flex-basis: auto;
    display: flex!important;
}
.nav-link{
    list-style: none;
    text-align: -webkit-match-parent;
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial;
    color: white;
}
.nav-link:hover {
	text-decoration: underline; 
	color: #459eff;
}
.btn{
    width: 90px;
    color:black;
    border-radius: 10%;
    text-decoration: none;
}
.div_bnts{
    width: 180px;
    color: white;
    float: right;
}
.btn_ent{
    background-color: yellowgreen;
    border: 3px solid black;
    height: 40px;
    margin-right: 1%;
    font-size: 105%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2px; 
}
.btn_cad{
    margin-left: 15%;
    border: 3px solid black;
    background-color: rgb(6, 153, 146);
    height: 40px;
    margin-bottom: 0%;
    font-size: 105%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
}
.estatisticas {
    margin-top:5%;
    width:100%;
}
#block2a {
    margin-top: 5%;
    margin-left:4%;
    float:left;
    font-size: 500%;
    font-family: verdana;
    color:white;
    animation-name: anm_titulo;
    animation-duration: 3s;
    opacity: 1;
}
#block2b{
    margin-left: 4%;
    float:left;
    width: 90%;
    font-size: 200%;
    font-family: verdana;
    color:white;
}
#block3a{
    margin-top:5%;
    margin-left:4%;
    float:left;
    font-size: 500%;
    font-family: verdana;
    color:white;  
    width:95%; 
}
#block3b{
    margin-left: 4%;
    float:left;
    width: 90%;
    font-size: 200%;
    font-family: verdana;
    color:white;
}
.apresentacao{
    width:100%;
    background-color: rgb(6, 153, 146);
}
#block4{
    margin-top:10%;
    float:left;
    font-size: 500%;
    font-family: verdana;
    color:white; 
    background-color: rgb(6, 153, 146);   
}
#caixa_simulador{
    margin-top:75%;
    margin-bottom:10%;
    width:100%;
    height:110%;
    background-color:black;
}
.titulo_simulador{
    margin-left:15%;
    font-family: verdana;
    font-size: 500%;
    color:white;
}
#simulador{
    width:600px;
    float:left;
}
.txt_ipt{
    margin-left:5%;
    margin-top:1%;
    margin-bottom: 2%;;
    font-family: verdana;
    font-size: 130%;
    color:white;
    border-radius: 4px;
    width:100%;
    height:40px;
}
.ipt{
    margin-left:5%;
    margin-top:1%;
    margin-bottom: 2%;;
    font-family: verdana;
    font-size: 130%;
    /* color:white; */
    border-radius: 4px;
    width:100%;
    height:40px;  
}
.btn_calc{
    margin-top:2%;
    margin-left:20%;
    font-size: 30px;
    font-family: verdana;
    border-radius: 10px;
    border: none;
    width:70%;
    height:70px;
    background-color: #459eff;
}
.resultado{
    margin-top:0;
    float: right;
    margin-right:5%;
    font-size: 200%;
    font-family: verdana;
    width:500px;
    color:white;
}
.rodape{
    width: 100%;
    background-color: #0a1725;
    color:white;
    height: 17%;
    line-height: 1;
}
.logo_rede_social{
    float: right;
    width: 2.5%;
    margin-top: 3%;
    padding-right: 0%;
    margin-right: 2%;
}
.txt_fale_conosco{
    margin-right: -100px;
    margin-top: 4%;
    margin-left: 10%;
    line-height: 1.9;
    display: inline-block;   
    color: white; 
    font-family: verdana;
    font-size: 14px;
}
.copyright{
    display: inline-block;
    margin-left:0;
    font-size: 12px;
    font-family: verdana;
}