body, html {
    height: 100%; 
    width: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    position: absolute;
    color:white;
    background-color: #0a1725;
    z-index: 150;
    margin: 2.5%;
    width: auto;
    border-radius: 5px;
    height: 100px;
}


.navscroll{
    position: absolute;
    width: auto;
    color:white;
    background-color: transparent;
    z-index: 150;
    margin: 2.5%;
    border-radius: 5px;
}

.navscroll:hover{
    opacity: 100% !important;
}

.navscroll:hover{
    background-color: #0a1725;
    height: 100px;
}

.container{
    padding: 0;
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.navbar-brand{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    box-sizing: border-box;
    width: auto;
    color: white;
}

.logo{
    float:left;
    margin:1%;
    width: 7%;
    height: 15%;
}

.txt_logo{
    float: left;
    font-size:xx-large;
    font-family: verdana;
    color: skyblue;
}

.collapse{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    flex-basis: auto;
    display: flex!important;
}

.nav-link{
    list-style: none;
    text-align: -webkit-match-parent;
    margin-left: 10%;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

.nav-link:hover{
	color: #459eff;
}

.nav_button{
    margin-left:10px;
    border-radius:5px;
    border:none;
    width:9%;
    height:30px;
    background-color: transparent;
    font-size:17px;
    text-decoration: none;
    margin-right: 3%;
}

.nav_button:hover{
    background-color:#4682B4;
}

.colun1{
    
    width: 49%;
    height: 100%;
    margin-left: 3%;
    font-family: verdana;
    display: inline-block;
    
}
.h1_1{
    font-family: Impact;
    margin-top: 12%;
    margin-left: 3%;
    font-size: 80px;
    
}
.h1_1 span{
    color: #1a3c61;
}

.hr_colun2{
    height: 35%; 
    width: 1%;
    background-color:black;
   margin-left: 2%;
    display: inline-block;
}
.colun2{
    float: right;
    margin-right: 1%;
    width: 40%;
    height: 70%;
}
.colun2 img{
    border-radius: 10%;
    width: 90%;
    margin-top: 45%;
    margin-left: 7%;
  
}
.colun3{
    width: 48%;
    height: 60%;
   margin-left: 2%;
      display: inline-block;
      margin-top: 10%;
}
.img_colun3{
    width: 90%;
    border-radius: 10%;
    margin-left: 7%;
    margin-top: 12%;
}
.hr_colun3{
    height: 45%; 
    width: 1%;
    background-color: black;
    margin-left: 3%;
    margin-right: 2%;
   display: inline-block;
}
.colun4{
    width: 40%;
    height: 80%;
   float: right;
    margin-right: 3%;
    margin-top: 5%;
    font-family: verdana;
}
.colun4 span{
    color: #1a3c61;
}

.h1_4{
    font-family: Impact;
    margin-top: 0%;
    margin-left: 3%;
    font-size: 80px;
    
}

.icones{
    background-color: #1a3c61;
    width: 100%;
    height: 60%;
    margin-top: 10%;
    text-align: center;
}
.animacao_icones {
    background-color: #1a3c61;
    width: 100%;
    height: 60%;
    margin-top: 10%;
    text-align: center;
}
.animacao_icones img{
    animation-name: icones;
    animation-duration: 2s;
}
@keyframes icones {
    0%{
        margin-top: 50%;
        opacity:0;
    }
    100%{
        margin-top: 2%;
     
        opacity:1;
    }
}
.animacao_icones img{
    width: 20%;
}

.animacao_icones h3{
    margin: 0%;
    padding: 0%;
}
.animacao_icones ul{
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    padding-top: 40px;
}
.animacao_icones li{
    width: 33%;
}
.icones img{
    width: 20%;
}

#arduino{
    margin-top: 25px;
    margin-bottom: 10px; 
}

#qualidade{
    margin-top: 25px;
    margin-bottom: 10px; 
}

.icones h3{
    margin: 0%;
    padding: 0%;
}
.icones ul{
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    padding-top: 40px;
}
.icones li{
    width: 33%;
}

.h1_colaboradores{
 color: black;
 text-align: center;
 font-family: verdana;
 font-size: 250%;
}
.h1_colaboradores span{
    color: #1a3c61;
}
.hr_colaboradores{
    height: 2%; 
    width: 55%;
    background-color: #1a3c61;
}
.sobre_mim{
    background-color: #090a0a;
    width: 100%;
    height: 110%;
    margin-top: 7%;
    border-top-color: #0a1725;
    
}
.foto_davi{
    width: 10%;
    border-radius: 60%;
    margin-left: 2%;
    margin-top: 1%;
    
}
.soudavi{
    width: 30%;
    border-radius: 17%;
    margin-top: -2%;
}
.foto_nicole{
    width: 10%;
    border-radius: 60%;
    margin-left: 9%;
    margin-top: 1%;
}
.sounicole{
    width: 30%;
    border-radius: 17%;
    margin-top: -2%;
}

.foto_peter{
    width: 10%;
    border-radius: 60%;
    margin-left: 2%;
}
.soupeter{
    width: 30%;
    border-radius: 17%;

}
.foto_erick{
    width: 10%;
    border-radius: 60%;
    margin-left: 9%;
    margin-top: 9%;
}
.souerick{
    width: 30%;
    border-radius: 17%;
}
.foto_vitor{
    width: 10%;
    border-radius: 60%;
    margin-left: 2%;
    
}
.souvitor{
    width: 30%;
    border-radius: 17%;
}
.foto_raoam{
    width: 10%;
    border-radius: 60%;
    margin-left: 9%;
    margin-top: 10%;
}
.souraoann{
    width: 30%;
    border-radius: 17%;
}
.caixa_atendimento{
    width: 100%;
    height: 100%;
  
}
.img_atendimento{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.caixa_duvida{
    width: 30%;
    height: 90%;
    border-radius: 6%;
    margin: 100px;
    background-color: #0a1725;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -46%;
    position: absolute;
    color:white ;
    text-align: center;
   
}

.ipt_nome {
    
      width: 350px;
      height: 30px;

}
.ipt_email {
    width: 350px;
    height: 30px;
}

.ipt_assunto {
    width: 350px;
    height: 30px;
}

.btn_enviar {
    color: white;
    border-radius: 20px;
    border: none;
    width: 45%;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn_enviar:hover{
    text-decoration: underline;
    background-color: #4682B4;
}

.rodape{
    width: 100%;
    background: #0a1725;
    color:white;
    height: 17%;
}

.logo_rede_social{
    float: right;
    width: 2.5%;
    margin-top: 3%;
    margin-right: 2%;
}
.txt_fale_conosco{
    margin-right: -100px;
    margin-top: 3.5%;
    margin-left: 10%;
    line-height: 1.9;
    display: inline-block;   
    color: white; 
    font-family: verdana;
    font-size: 14px;
}
.copyright{
    display: inline-block;
    margin-left:0.5px;
    font-size: 12px;
    font-family: verdana;
}
