.pag_sensores{
    display: none;
    background-color: #F8F8FF;
    height: 1000px;
    padding-left: 10px;
}

.pag_sensores span{
    margin-block-start: 0;
    padding-top: 20px;
    font-size: 250%;
}

