.suporte{
    display: none;
    background-color:#F8F8FF;
    height: 1000px;
    padding-top: 15px;
}

.txt_ajuda{
    font-size: 300%;
    margin-left: 30px;
}

.div_msg_suporte_site{
    display: none;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 120%;
}

.div_msg_suporte_sensores{
    display: none;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 120%;
}
.combo_ajuda{
    margin-left: 30px;
    margin-top: 15px;
    font-size: 120%;
}